@page
@model RecipeBook.Web.Pages.Recipes.RecipeDetailsModel
@{
    ViewData["Title"] = "RecipeDetails";
}

<div class="container" style="max-width: 800px;">
    <h1>@Model.Recipe.Name | @Model.Recipe.Category.Name</h1>
    <h5 style="margin-bottom: 30px;">@Model.Recipe.Description</h5>

    <p>@Model.Recipe.Instruction</p>

    <h2 style="margin-bottom: 20px;">Ingredients</h2>
    <ul class="list-group list-group-flush" style="margin-bottom: 40px;">
        @foreach (var recipeIngredient in Model.Recipe.RecipeIngredients)
        {
            <li class="list-group-item">@recipeIngredient.Ingredient.Name - @recipeIngredient.Amount</li>
        }
    </ul>

    <i>Duration: @Model.Recipe.DurationInMinutes minutes</i>
</div>