@page
@model RecipeBook.Web.Pages.Recipes.RecipesListModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-left">
    <h1>@Model.Message</h1>
</div>

<div class="card-columns">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">@recipe.Name</h5>
            </div>

            <div class="card-body">
                <p class="card-text">@recipe.Description</p>
                <a class="btn btn-outline-info" asp-page="RecipeDetails" asp-route-id="@recipe.Id">More info</a>
                <a class="btn btn-light" asp-page="AddRecipe" asp-page-handler="Recipe" asp-route-id="@recipe.Id">Edit</a>
            </div>
        </div>
    }
</div>

